* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Cantarell, Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
  margin: 0 0 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Black Ops One", Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 70px;
  padding-top: 20px;
  color: darkslateblue;
}

.btn-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn-container button {
  width: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  margin: 50px auto 0;
}

.div-containers {
  width: 37.5px;
  height: 37.5px;
  border: 1px solid black;
  background-color: white;
}

button {
  background-color: darkslateblue;
  border-radius: 3px;
  border: 3px solid darkslateblue;
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(111, 100, 179);
  border: 3px solid rgb(111, 100, 179);
}
